* {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1.5;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 600;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

* {
  color: #444;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 767px) {
  * {
    font-size: -webkit-calc(12px + 13 * ((100vw - 320px) / 1920));
    font-size: calc(12px + 13 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  * {
    font-size: -webkit-calc(12px + 13 * (100vw / 1920));
    font-size: calc(12px + 13 * (100vw / 1920));
  }
}

a {
  color: #444;
}

a:hover, a:focus {
  color: #228b22;
}

address {
  font-style: normal;
}

address:hover, address:focus {
  color: #228b22;
}

img {
  display: block;
  margin: auto 0;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2em;
}

body {
  width: 100%;
  background: url(../images/white-paper.png) top left/auto repeat;
  height: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  margin: 3em 0 1em;
  position: relative;
  padding-bottom: 0.5em;
}

@media (max-width: 767px) {
  h1 {
    font-size: -webkit-calc(20px + 20 * ((100vw - 320px) / 1920));
    font-size: calc(20px + 20 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  h1 {
    font-size: -webkit-calc(20px + 20 * (100vw / 1920));
    font-size: calc(20px + 20 * (100vw / 1920));
  }
}

h1 a {
  font-size: inherit;
}

h1::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 42%;
  background-color: #444;
  width: 5em;
  height: 2px;
}

h2 {
  padding-bottom: 1em;
}

@media (max-width: 767px) {
  h2 {
    font-size: -webkit-calc(15px + 15 * ((100vw - 320px) / 1920));
    font-size: calc(15px + 15 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  h2 {
    font-size: -webkit-calc(15px + 15 * (100vw / 1920));
    font-size: calc(15px + 15 * (100vw / 1920));
  }
}

h2 a {
  font-size: inherit;
}

h2 a:hover, h2 a:focus {
  color: #228b22;
}

h3 {
  margin-top: 3em;
  text-align: center;
}

@media (max-width: 767px) {
  h3 {
    font-size: -webkit-calc(15px + 15 * ((100vw - 320px) / 1920));
    font-size: calc(15px + 15 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  h3 {
    font-size: -webkit-calc(15px + 15 * (100vw / 1920));
    font-size: calc(15px + 15 * (100vw / 1920));
  }
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7em;
  width: 100%;
  height: 100%;
  padding: 0.5em 0;
}

.header p {
  display: block;
  margin: auto 0;
  text-align: center;
}

.header img {
  height: 100%;
  padding: 0 2em 1em;
}

.special-offers, .contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
  margin-right: 2em;
}

.patriot {
  color: #2f76df;
}

.patriot:hover, .patriot:focus {
  color: green;
}

.worning {
  color: #af0000;
}

.worning:hover, .worning:focus {
  color: green;
}

.contacts p {
  text-align: right;
}

.contacts a:hover, .contacts a:focus {
  color: green;
}

@media (max-width: 767px) {
  .tel-number {
    font-size: -webkit-calc(14px + 16 * ((100vw - 320px) / 1920));
    font-size: calc(14px + 16 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  .tel-number {
    font-size: -webkit-calc(14px + 16 * (100vw / 1920));
    font-size: calc(14px + 16 * (100vw / 1920));
  }
}

.hover-blu {
  position: relative;
  font-weight: 600;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hover-blu img {
  padding: 0 1em 0;
  height: 1.5em;
}

.hover-blu a {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  text-transform: uppercase;
}

.hover-blu a:hover, .hover-blu a:focus {
  color: #2f76df;
}

.navigation {
  background-color: #afcd83;
}

.navi {
  width: 100%;
}

.navi-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.navi-1 div {
  font-weight: 600;
  padding: 0.5em 0.5em;
  text-align: center;
}

.subnavi:hover .navi-2, .subnavi:focus .navi-2 {
  display: block;
}

.navi-2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: -2em;
}

.navi-2 li {
  text-align: left;
  padding: 0.7em 2.5em;
  background-color: #afcd83;
}

.navi-2 li a {
  color: black;
}

.navi-2 li:hover a, .navi-2 li:focus a {
  color: #228b22;
}

.form {
  width: 60%;
  margin: 0 auto 3em;
}

.form-container {
  width: 100%;
  background-color: rgba(175, 205, 131, 0.3);
  margin: 0 auto;
  padding: 3em 0;
}

.form-title {
  margin: 2em 0 3em;
  text-align: center;
}

@media (max-width: 767px) {
  .form-title {
    font-size: -webkit-calc(20px + 20 * ((100vw - 320px) / 1920));
    font-size: calc(20px + 20 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  .form-title {
    font-size: -webkit-calc(20px + 20 * (100vw / 1920));
    font-size: calc(20px + 20 * (100vw / 1920));
  }
}

.form-button {
  width: 100%;
  height: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(175, 205, 131, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
  left: 0;
  font-weight: 600;
}

@media (max-width: 767px) {
  .form-button {
    font-size: -webkit-calc(16px + 16 * ((100vw - 320px) / 1920));
    font-size: calc(16px + 16 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  .form-button {
    font-size: -webkit-calc(16px + 16 * (100vw / 1920));
    font-size: calc(16px + 16 * (100vw / 1920));
  }
}

.form-button:hover, .form-button:focus {
  background-color: #afcd83;
}

.form-button:active {
  top: 0.2em;
}

.connection {
  position: fixed;
  right: 1em;
  bottom: 5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.connection:hover .connection-list, .connection:focus .connection-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.connection-title {
  -webkit-border-radius: 15px;
          border-radius: 15px;
  color: black;
}

.connection-title:hover, .connection-title:focus {
  color: #228b22;
}

.connection-icon {
  height: 3em;
}

.connection-icon img {
  width: 3em;
  height: 3em;
}

.connection-icon img:hover, .connection-icon img:focus {
  height: 3.5em;
  width: 3.5em;
}

.connection-icon-coll {
  padding: 0.2em;
}

.connection-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0 0.5em 0.5em;
  height: 3.5em;
}

.coll {
  background-color: #88bf48;
  color: #444;
  padding: 0.5em;
}

.viber {
  background-color: #9230be;
  border-bottom: 2px solid #9230be;
  padding: 0.5em;
}

.telegram {
  background-color: #29b6f6;
  padding: 0.5em;
}

.email {
  background-color: #ff6207;
  padding: 0.5em;
}

.connection-list {
  display: none;
}

.connection-button, .up-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.connection-button img, .up-button img {
  height: 3em;
  margin: 0.5em 0;
}

.connection-button img:hover, .connection-button img:focus, .up-button img:hover, .up-button img:focus {
  height: 3.2em;
  width: 3.2em;
}

.up-button {
  position: fixed;
  right: 1em;
  bottom: 1em;
}

.up-button:hover .connection-list, .up-button:focus .connection-list {
  display: none;
}

footer {
  background-color: #afcd83;
  margin: 2em 0;
  padding-bottom: 1em;
}

.footer-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 4em;
}

.footer-services li {
  padding: 1em 1em 0 0;
}

.footer-contacts {
  margin-right: 0;
}

.footer-contacts li {
  padding-top: 1em;
  text-align: right;
}

.service-container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

.about {
  width: 100%;
}

.service {
  width: 48%;
  text-align: center;
  padding-top: 2em;
}

.service h2, .service img {
  display: inline;
}

.service img {
  height: 1.5em;
  padding: 0 1em;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #444;
  border-top: none;
  border-right: none;
  padding: 0 0 2em 2em;
  margin-top: 4em;
}

.content div {
  margin-left: 2em;
}

.content a:hover, .content a:focus {
  color: #228b22;
}

.content p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.content .foto, .content .icon {
  height: auto;
  width: 33%;
}

.content .full {
  width: 100%;
}

.services-list li {
  padding: 0.5em 0;
}

@media (max-width: 767px) {
  .services-list li {
    font-size: -webkit-calc(12px + 12 * ((100vw - 320px) / 1920));
    font-size: calc(12px + 12 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  .services-list li {
    font-size: -webkit-calc(12px + 12 * (100vw / 1920));
    font-size: calc(12px + 12 * (100vw / 1920));
  }
}

.services-list li a {
  font-size: inherit;
}

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .service {
    width: 100%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .container {
    padding: 0 1em;
  }
  .service {
    width: 100%;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .special-offers {
    display: none;
  }
  .contacts {
    width: 100%;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .content img {
    margin: 0 2em 2em;
    padding-right: 1em;
  }
  .content div {
    margin-left: 0;
    padding-right: 1em;
  }
  .footer-services ul {
    width: 100%;
  }
}

/* Iphone 5 */
