// ГЛАВНАЯ СТРАНИЦА

//! HEADER
.header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 10em;
	margin-top: 1em;
	padding: 0 2em;
	p {
		display: block;
		margin: auto 0;
		text-align: center;
	}
	img {
		height: 100%;
		padding: 0 2em 1em;
	}
}

.special-offers, .contacts {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 30%;
}

.patriot {
	color: $patriot;
	&:hover, &:focus {
		color: yellow;
	}
}

.worning {
	color: red;
	&:hover, &:focus {
		color: $colored;
	}
}

.contacts {
	p {
		text-align: right;
	}
	a {
		&:hover, &:focus {
			color: $light;
		}
	}
}

.tel-number {
	@include adaptiv-font(30, 14);
}

.hover-blu {
	position: relative;
	padding-right: 2.2em;
	a {
		text-transform: uppercase;
		&:hover, &:focus {
			color: $patriot;
		}
	&::before {
		content: "";
		height: 0.75em;
		width: 2em;
		position: absolute;
		top: 0;
		right: 0;
		background-color: $patriot;
	}
	&::after {
		content: "";
		height: 0.75em;
		width: 2em;
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: yellow;
	}
	}
}

//! МЕНЮ

.navigation {
	background-color: $colored;
}

.navi {
	width: 100%;
	text-align: center;
	a {
		color: black;
		font-weight: 600;
	}
}

.navi-1 {
	display: flex;
	justify-content: space-between;
	position: relative;
	li {
		padding: 0.5em;
		&:hover, &:focus {
			background-color: $colored;
			}
		}
		
	}
	
	a {
		&:hover, &:focus {
			color: $dark;
		}
}

//! ВЫПАДАЮЩЕЕ МЕНЮ

.subnavi {
	&:hover, &:focus {
		.navi-2 {
			display: block;
		}
	}
}

.navi-2 {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin-left: -2em;
	li {
		text-align: center;
		background-color: $colored;
		a {
			color: black;
		}
	}
}

//!КОНТЕНТ

.about {
	width: 100%;
	p {
		padding-bottom: 1em;
	}
}

.service {
	width: 48%;
	text-align: center;
	padding-top: 2em;
	h2, img {
		display: inline;
	}
	img {
		height: 2em;
		padding: 0 1em;
	}
}

//! ФОРМА ОБРАТНОЙ СВЯЗИ

.form {
	width: 60%;
	margin: 0 auto;
}

.form-body {
	position: relative;
	// padding: 2em;
	&::after {
		content: "";
		position: absolute;
		top: -5%;
		left: -10%;
		width: 120%;
		height: 110%;
		background: rgba(255, 196, 0, 0.2) url(/images/loading.gif) center / 10em no-repeat;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease 0s;
	}
}

.form-body._sending::after {
	opacity: 1;
	visibility: visible;
}


.form-title {
	@include adaptiv-font(40, 20);
	margin: 3em 0 1em;
	text-align: center;
}

.form-item {
	margin: 0 0 1.5em 0;
	display: block;
}

.form-label {
	@include adaptiv-font(28, 14);
}

.form-input {
	height: 3em;
	width: 100%;
	padding: 0 1em;
	background-color: rgba(255, 196, 0, 0.2);
}

.form-input._error {
	box-shadow: 0 0 0.5em red;
}

textarea.form-input {
	min-height: 5em;
	resize: vertical;
	padding: 0.5em 1em;
}

.options-item {
 margin-top: 0.7em;
}

.options-input {
	display: none;
}

.options-input:checked + .options-label::after {
	transform: scale(1);
}

.options-label {
	position: relative;
	display: flex;
	@include adaptiv-font(24, 12);
	align-items: center;
	&::before {
		content: "";
		flex: 0 0 1em;
		height: 1em;
		background-color: $colored;
		border-radius: 50%;
		margin-right: 0.8em;
		text-align: center;
	}
	&::after {
		transition: transform 0.3s ease 0s;
		content: "";
		position: absolute;
		top: -0.1em;
		left: -0.2em;
		width: 1.4em;
		height: 1.4em;
		background-color: $green;
		border-radius: 50%;
		transform: scale(0);
		text-align: center;
	}
}

.checkbox._error .checkbox-label::before{
	box-shadow: 0 0 0.5em red;
}

.checkbox-input {
	display: none;
}

.checkbox-input:checked + .checkbox-label::after {
	transform: scale(1);
}

.checkbox-label {
	@include adaptiv-font(26, 13);
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.checkbox-label {
	&::before {
		content: "";
		width: 1.3em;
		height: 1.3em;
		background-color: $colored;
		margin-right: 0.7em;
	}
	&::after {
		transition: transform 0.5s ease 0s;
		content: "";
		width: 1em;
		height: 1em;
		position: absolute;
		top: 0.17em;
		left: 0.17em;
		background-color: $green;
		transform: scale(0);
	}
}

.form-button {
	width: 100%;
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 196, 0, 0.2);
	@include adaptiv-font(28, 14);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 600;
	transition: background-color 0.5s ease 0s;
	position: relative;
	top: 0;
	left: 0;
	&:hover, &:focus {
		background-color: rgba(255, 196, 0, 0.3);
	}
	&:active {
		top: 0.2em;

	}
}

//! КНОПКА СВЯЗИ

.connection {
	position: fixed;
	right: 1em;
	bottom: 5em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	&:hover, &:focus {
		.connection-list {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}
}

.connection-title {
	border-radius: 15px;
	color: black;
	&:hover, &:focus {
		color: $light;
	}
}

.connection-icon {
	height: 3em;
		img{
			width: 3em;
			height: 3em;
			&:hover, &:focus {
				height: 3.5em;
				width: 3.5em;
			}
		}
}
.connection-icon-coll {
	padding: 0.2em;
}

.connection-item {
	display: flex;
	align-items: center;
	padding: 0.5em 0 0.5em 0.5em;
	height: 3.5em;
}

.coll{
	background-color: #88bf48;
	color: $dark;
	padding: 0.5em;
}

.viber {
	background-color: #9230be;
	border-bottom: 2px solid #9230be;
	padding: 0.5em;
}

.telegram {
	background-color: #29b6f6;
	padding: 0.5em;
}

.email {
	background-color: #ff6207;
	padding: 0.5em;
}

.connection-list {
	display: none;
}

.connection-button, .up-button {
	img {
		height: 3.2em;
		margin: 0.5em 0;
		&:hover, &:focus {
			height: 3.5em;
			width: 3.5em;
		}
	}
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
}

.up-button {
	position: fixed;
	right: 1em;
	bottom: 1em;
	&:hover, &:focus {
		.connection-list {
			display: none;
		}
	}
}

//! FOOTER

footer {
	margin: 2em 0;
	padding: 2em 0;
}

.footer-services {
	a {
		padding-right: 1em;
		&:hover, &:focus {
			color: $light;
		}
	}
}