
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.service {
		width: 100%;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.container {
		padding: 0 1em;
	}
	.service {
		width: 100%;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.special-offers {
		display: none;
	}
	.contacts {
		width: 100%;
	}

	.content {
		flex-direction: column;
		align-items: center;		
		justify-content: start;
		img {
			margin: 0 2em 2em;
			padding-right: 1em;
		}
		div {
			margin-left: 0;
			padding-right: 1em;
		}
	}

	.footer-services {
		ul {
			width: 100%;
		}
	}
}

@media (max-width: 380px) {
}

/* Iphone 5 */
@media (max-width: 320px) {

}