
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	footer {
		padding-right: 3.5em;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	footer {
		padding-right: 3.5em;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.header img {
		height: 80%;
		padding: 0 2em 1em;
  }

  .special-offers {
	  width: 35%;
  }

  .form {
	  width: 100%;
  }

	footer {
		padding-right: 3.5em;
	}

	.service {
		width: 100%;
	}

	.service-container {
		justify-content: center;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	.container {
		padding: 0 1em;
	}
	.special-offers {
		width: 25%;
	}

	.contacts {
		width: 35%;
	}

	footer {
		.contacts {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding-bottom: 2em;
			order: 1;
			p {
				padding: 0 2em;
			}
		}
		.footer-services {
			order: 2;
		}
	}

}

@media (max-width: 380px) {

	.header {
		flex-wrap: wrap;
		height: auto;
		padding: 0px 1em;
		img {
			order: -1;
			height: 8em;
			padding: 0 1em 1em 0;
		}
	}
	.special-offers {
		order: 1;
		width: 100%;
		padding: 1em;
	}

	.contacts {
		width: 45%;
	}
	
}

/* Iphone 5 */
@media (max-width: 320px) {

}